{{ header()|raw }}
<h2>{{ trans('pluginname', plugin) }}</h2>
<div>
    <ul>
        {% for icecream in icecreams %}
            <li>{{ icecream.title }}&nbsp;(created {{ icecream.timecreated|date('d/M/Y') }}, modified {{ icecream.timemodified|date('d/M/Y') }})</li>
        {% else %}
            <li>{{ trans('no_icecreams', plugin) }}&nbsp;<strong>:(</strong></li>
        {% endfor %}
    </ul>
    {% if isloggedin() %}
        <a href="{{ url('user') }}">{{ trans('your_icecream_preferences', plugin) }}</a>
    {% endif %}
</div>
{{ footer()|raw }}
